.App {
  text-align: center;
  font-family: sans-serif;
  font-weight: lighter;
  margin: 10px;
}

.main-section {
  padding: 10px;
  background-image: url(./images/react-background.jpeg);
  background-size: cover;
  color: white;
  text-align: left;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 20px 30px;
}

#logo {
  height: 30px;
}

header>img {
  height: 10px;
}

.main-section>div {
  height: 400px;
  width: 50%;
  margin-left: 40px;
  margin-bottom: 40px;
}

.main-section h1 {
  font-size: 4.5em;
  margin-bottom: 10px;
}
.main-section h5 {
  font-size: 1.5em;
  font-weight: lighter;
}

.main-section button {
  padding: 10px;
  font: inherit;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

.overview {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10%;
}

.card {
  margin: 10px;
  text-align: left;
}

.card>img {
  height: 120px;
}